<a href="https://colab.research.google.com/github/BexieT/learn-co-sandbox/blob/master/strike1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
names = ['tommy','joey','johnny']

In [0]:
names[-1]

'johnny'

In [0]:
names('johnny').title

TypeError: ignored

In [0]:
names[-1].title

In [0]:
names[-1].title()

'Johnny'

In [0]:
for name in names:
  print(name.title())

Tommy
Joey
Johnny

Exercises from https://pynative.com/python-basic-exercise-for-beginners/

sum 2 value

In [7]:
def sum(a,b):
  print(a+b)

sum(2,2)

4

In [8]:
def multiply(a,b):
  print(a * b)
  
multiply(2,3)

6

In [14]:
def sum_or_product(a,b):
  if (a*b) >=1000:
    print("The sum is:")
    print(a+b)
  else:
    print(a*b)
    
sum_or_product(2,5)

10

given a range, print sums

In [21]:
def rolling_sums(num):
  PreviousNum = 0
  for i in range(num):
    sum = PreviousNum + i
    print(sum)
    PreviousNum = i
    

rolling_sums(10)

0
1
3
5
7
9
11
13
15
17

print even - indexed letters

In [23]:
def printEveIndexChar(str):
  for i in range(0, len(str)-1,2):
    print("index[",i, "]", str[i] )
    
inputString = input("Enter string")
print("Original string is", inputString)

print("Printing onnly even chars")
printEveIndexChar(inputString)

Enter stringHello, World
Original string is Hello, World
Printing onnly even chars
index[ 0 ] H
index[ 2 ] l
index[ 4 ] o
index[ 6 ]
index[ 8 ] o
index[ 10 ] l

Remove characters

In [25]:
def removeChars(str, n):
  return str[n:]

print("Removing n number of chars")
print(removeChars("pythngsux", 4))

Removing n number of chars
ngsux

Looking for duplicates

In [36]:
def Duplicates(NumbersList):
  firstElement = NumbersList[0]
  lastElement = NumbersList[-1]
  if firstElement == lastElement:
    return True
  else:
    return False
  
NumbersList = [10,20,30,40,60,10]

print("The first and last number of a list is same")
print("result is", Duplicates(NumbersList))

The first and last number of a list is same
result is True